asgiref==3.4.1
atomicwrites==1.4.0
attrs==21.4.0
awsebcli==3.20.3
botocore==1.23.54
cement==2.8.2
certifi==2021.5.30
charset-normalizer==2.0.12
colorama==0.4.3
contextlib2==21.6.0
distlib==0.3.4
Django==3.2
execnet==1.9.0
filelock==3.4.1
future==0.16.0
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.8.3
importlib-resources==5.4.0
iniconfig==1.1.1
jmespath==0.10.0
mock==4.0.3
packaging==21.3
path==16.2.0
path.py==12.5.0
pathspec==0.9.0
Pillow==8.4.0
platformdirs==2.4.0
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.7
pypiwin32==223
pytest==7.0.1
pytest-shutil==1.7.0
python-dateutil==2.8.2
pytz==2022.1
pywin32==304
PyYAML==5.4.1
requests==2.26.0
semantic-version==2.8.5
six==1.14.0
sqlparse==0.4.2
termcolor==1.1.0
tomli==1.2.3
typing_extensions==4.1.1
urllib3==1.26.9
virtualenv==20.14.1
wcwidth==0.1.9
whitenoise==5.3.0
wincertstore==0.2
zipp==3.6.0
